<!doctype html>
<html lang="en" ng-app="AngularFlask">
<base href="/index.html">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>WeightStock</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/lib/bower_components/foundation-6.2.0-complete/css/foundation.min.css">
</head>
<body>
	<div class="top-bar">
		<div class="row">
			<div class="top-bar-left">
				<ul class="menu">
					<li><img class="align-left" height="40" width="40" ng-src="/static/img/logo.png"></li>
					<li class="menu-text page-title">WeightStock</li>
					<li><a href="/">Home</a></li>
					<li><a href="/competitions">Competitions</a></li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li><a href="#">Account</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>

	<br>

	<div class="container">
		<div id="content" ng-view></div>
	</div>

	<div class="row column">
		<hr>
		<ul class="menu">
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li class="float-right">Copyright WeightStock 2016</li>
		</ul>
	</div>

	<script src="/static/lib/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/static/lib/bower_components/requirejs-plugins/lib/require.js"></script>
	<script src="/static/lib/bower_components/angular/angular.min.js"></script>
	<script src="/static/lib/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/static/lib/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/static/lib/bower_components/foundation-6.2.0-complete/js/vendor/foundation.min.js"></script>
	<!-- <script src="/static/lib/bower_components/foundation-6.2.0-complete/js/app.js"></script> -->
	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>
	<script src="/static/js/directives.js"></script>
	<script src="/static/js/filters.js"></script>
</body>
</html>
