<div class="row">
  <div class="small-5 large-centered columns">
  	<fieldset class="fieldset">
  		<legend>WeightStock</legend>
		  <form>
		  	<h4 class="text-center">Your Weight Check-in</h4>
		  <div class="row">
		    <div class="medium-8 large-centered columns">
		      <label>Date:
		        <input type="date" placeholder=".medium-6.columns">
		      </label>
		    </div>
		  </div>
		  <div class="row">
		    <div class="medium-8 large-centered columns">
		      <label>Your Current Weight:
		        <input type="number" placeholder="xxx lb">
		      </label>
		    </div>
		  </div>
		  <div class="row">
		    <div class="medium-8 large-centered columns">
		      <label>Upload your picture:
		        <label>            
					<input type="file" class="file-input"></label>
		      </label>
		    </div>
		  </div>
		  <p><a class="button expanded">Submit</a></p>
		</form>
	</fieldset>
  </div>
</div>
 <script src="/static/lib/bower_components/foundation-6.2.0-complete/js/app.js"></script>