<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="/Competitions">Competitions</a></li>
    <li><span class="show-for-sr">Current: </span>{{pool.data.name}}</li>
    </ul>
  </nav>
</div>
<div class="row" id="content">
  <div class="medium-10 columns">
    <div class="row">
      <div class="medium-5 columns">
      <img class="thumbnail" ng-src="{{ pool.data.picture }}">
      </div>
      <div class="medium-5 large-7 columns">
        <h3>{{ pool.data.name }}</h3>
        <p>Description:</p>
        <p>{{ pool.data.description }}</p>
        <p>Pot: ${{ pool.data.pot }}</p>
        <p>Players: {{ pool.data.players }}</p>
        <p>Investors: {{ pool.data.investors }}</p>
        <p>Start Date: {{ pool.data.start_date }}</p>
        <p>End Date: {{ pool.data.end_date }}</p>
        <label>Bet Size
        <select ng-show="!pool.joined">
          <option value="Low">${{ pool.data.low_bet }}</option>
          <option value="Medium" disabled>${{ pool.data.medium_bet }}</option>
          <option value="High" disabled>${{ pool.data.high_bet }}</option>
        </select>
        <!-- TODO: THIS IS SO BAD -->
        <select disabled ng-show="pool.joined">
          <option value="Low">{{ pool.data.low_bet }} ($)</option>
        </select>
        </label>
        <a href="#" ng-class="{secondary: pool.joined, disabled: pool.joined}" class="button large expanded" ng-click="join()">Join Pool</a>
      </div>
    </div>
    <div class="column row" ng-show="pool.joined">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active" ng-show="!pool.start"><a href="#panel1" aria-selected="true">Investors</a></li>
        <li class="tabs-title is-active" ng-show="pool.start && !pool.end"><a href="#panel2">Progress</a></li>
        <!-- make this more robust -->
        <li class="tabs-title is-active" ng-show="pool.end && pool.start"><a href="#panel3">Results</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" ng-show="!pool.start" id="panel1">
          <h4>Invite Friends to Invest in Your Progress</h4>
          <div class="row medium-up-3 large-up-5">
            <div class="column" ng-repeat="friend in user.friends">
              <img class="thumbnail" ng-src="{{ friend.pic }}">
              <h5>{{ friend.name }} <small>${{pool.data.low_friend_bet}}</small></h5>
              <!-- TODO: This is so bad -->
              <a href="#" class="button hollow tiny expanded" ng-show="!friend.invited" ng-click="invite(friend)">Invite</a>
              <a href="#" class="button hollow tiny expanded disabled" ng-show="friend.invited">Invited</a>
            </div>
          </div>
        </div>

        <div class="tabs-panel is-active" id="panel2" ng-show="pool.start && !pool.end">
          <h4>To Pool End</h4>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ started.to_end }}" aria-valuemin="0" aria-valuetext="{{ started.to_end }} percent" aria-valuemax="100">
            <span class="progress-meter" style="width: {{ started.to_end }}%">
              <p class="progress-meter-text">{{ started.to_end }}%</p>
            </span>
          </div>
          <h4>To Weight Goal</h4>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ started.to_goal }}" aria-valuemin="0" aria-valuetext="{{ started.to_goal }} percent" aria-valuemax="100">
            <span class="progress-meter" style="width: {{ started.to_goal }}%">
              <p class="progress-meter-text">{{ started.to_goal }}%</p>
            </span>
          </div>
          <hr>
          <h5>Weight Goal: {{ started.goal }}</h5>
          <h5>Last Weigh-In: {{ started.last_weigh_in }}</h5>
          <h5>Pounds Lost: {{ started.pounds_lost }}</h5>
          <h5>Initial Weigh-In: {{ started.initial_weigh_in }}</h5>
          <hr>
          <label>Next Weigh-In Deadline: {{ started.next_weigh_in }}</label>
          <button class="button">Weigh-In Now</button>
          <h4>Recent Weigh-Ins</h4>
          <div class="media-object stack-for-small" ng-repeat="recent in started.recents">
            <div class="media-object-section">
              <img class="thumbnail" height="300px" width="200px" ng-src="{{ recent.photo }}">
            </div>
            <div class="media-object-section">
              <h5>Date: {{ recent.date }}</h5>
              <p>Weight: {{ recent.weight }}</p>
            </div>
          </div>
        </div>

        <div class="tabs-panel is-active" id="panel3" ng-show="pool.end && pool.start">
          <h4>Pool: Complete!</h4>
          <h4>Weight Goal: Success!</h4>
          <hr>
          <h5>Competition Success Rate: {{ ended.success }} / {{ pool.data.players }}</h5>
          <h5>Pot Reward Portion: ${{ ended.portion }}</h5>
          <h5>Investors: {{ ended.investors }}</h5>
          <h5>Your Reward: ${{ ended.reward }}</h5>
          <h5>Weight Goal: {{ ended.goal }}</h5>
          <h5>Pounds Lost: {{ ended.pounds_lost }} / {{ ended.initial_weigh_in}}</h5>
          <hr>
          <h4>Start/End Weigh-In</h4>
          <div class="media-object stack-for-small" ng-repeat="recent in ended.recents">
            <div class="media-object-section">
              <img class="thumbnail" height="300px" width ="200px" ng-src="{{ recent.photo }}">
            </div>
            <div class="media-object-section">
              <h5>Date: {{ recent.date }}</h5>
              <p>Weight: {{ recent.weight }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-2 columns" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="content">
      <dl>
        <dt>{{ user.username }}</dt>
        <dd><a href="#">${{ user.balance }}</a> Balance</dd>
      </dl>
      <hr>
      <dl>
        <dt><a href="#">Friends</a></dt>
        <dd><img class="thumbnail" width="50" height = "50" ng-repeat="friend in user.friends" ng-src="{{ friend.pic }}"></dd>
        <hr>
        <dd><a href="#">Invite Friends</a></dd>
        <dd><textarea placeholder="Enter Email Address"></textarea></dd>
      </dl>
    </div>
  </div>
</div>
<script src="/static/lib/bower_components/foundation-6.2.0-complete/js/app.js"></script>
