<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"/>

<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><span class="show-for-sr">Current: </span>Status</li>
    </ul>
  </nav>
</div>
<div class="row" id="content">
  <div class="medium-10 columns">
    <div class="row">
      <div class="medium-5 columns">
      <img class="thumbnail" ng-src="{{ pool.data.picture }}">
      </div>
      <div class="medium-5 large-7 columns">
        <h3>{{ pool.data.initiator }}'s Challenge</h3>
        <table>
              <thead>
                <tr>
                  <th width="500">Description:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ pool.data.description }}</td>
                </tr>
              </tbody>
        </table>

        <table>
              <thead>
                <tr>
                  <th width="500">Pot:</th>
                  <th width="500">Starting Pledge:</th>
                  <th width="500">Backers:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>${{ pool.data.pot }}</td>
                  <td>${{ pool.data.pledge }}</td>
                  <td>{{ pool.data.players }}</td>
                </tr>
              </tbody>
        </table>

        <table>
              <thead>
                <tr>
                  <th width="500">Goal:</th>
                  <th width="500">Start Date:</th>
                  <th width="500">End Date:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ pool.data.goal }}%</td>
                  <td>{{ pool.data.start_date }}</td>
                  <td>{{ pool.data.end_date }}</td>
                </tr>
              </tbody>
        </table>
      </div>
    </div>
    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title"><a href="#panel1" aria-selected="true">Backers</a></li>
        <!-- TODO: change this -->
        <li class="tabs-title is-active"><a href="#panel2">Progress</a></li>
        <!-- <li class="tabs-title" ng-show="{{ended.recents.length > 0}}"><a href="#panel3" ng-click="fireEnd()">Results</a></li> -->
      </ul>

      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel" id="panel1">
          <h4>Team Backers</h4>
          <div class="row medium-up-3 large-up-5">
            <div class="column" ng-repeat="friend in friends">
              <img class="thumbnail" ng-src="{{ friend.pic }}">
              <h5>{{friend.name}} <small>${{(pool.data.pledge/friends.length).toFixed(2)}}</small></h5>
            </div>
          </div>
        </div>

        <div class="tabs-panel is-active" id="panel2">
          <h4>To Pool End</h4>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ started.to_end }}" aria-valuemin="0" aria-valuetext="{{ started.to_end }} percent" aria-valuemax="100">
            <span class="progress-meter" style="width: {{ started.to_end }}%">
              <p class="progress-meter-text">{{ started.to_end }}%</p>
            </span>
          </div>
          <h4>To Weight Goal</h4>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ started.to_goal }}" aria-valuemin="0" aria-valuetext="{{ started.to_goal }} percent" aria-valuemax="100">
            <span class="progress-meter" style="width: {{ started.to_goal }}%">
              <p class="progress-meter-text">{{ started.to_goal }}%</p>
            </span>
          </div>
          <h5>Weight Goal: {{ started.goal }}</h5>
          <h5>Last Weight-In: {{ started.last_weigh_in }}</h5>
          <h5>Pounds Lost: {{ started.pounds_lost }}</h5>
          <h5>Initial Weight-In: {{ started.initial_weigh_in }}</h5>
          <div class="chartbox" ng-show="{{started.recents.length > 0}}">
            <hr>
            <h4>Progress</h4>
            <canvas id="line" class="chart chart-line" chart-data="data" chart-options="options"
              chart-labels="labels" chart-legend="true" chart-series="series">
            </canvas>
          </div>
          <hr>
          <label>Next Weight-In Deadline: {{ started.next_weigh_in }}</label>
          <a href= "/checkin/{{poolId}}" class="button">Weight-In Now</a>
          <h4 ng-show="{{started.recents.length > 0}}">Recent Weight-Ins</h4>
          <div class="media-object stack-for-small" ng-repeat="recent in started.recents">
            <div class="media-object-section">
              <img class="thumbnail" height="300px" width="200px" ng-src="{{ recent.photo }}">
            </div>
            <div class="media-object-section">
              <h5>Date: {{ recent.date }}</h5>
              <p>Weight: {{ recent.weight }}</p>

              <!-- Interaction -->
              <!-- TODO: Add a summary of checking - maybe show "good" or "bad" -->
              <div class="input-group">
                <a class="input-group-button button" ng-click="like(recent)">
                  <i class="fi-like size-36"></i>
                </a>
                <span class="input-group-label">
                  <a> {{recent.likes}}</a>
                </span>
              </div>
              <div class="input-group">
                <a class="input-group-button button" ng-click="dislike(recent)">
                  <i class="fi-dislike size-36"></i>
                </a>
                <span class="input-group-label">
                  <a> {{recent.dislikes}}</a>
                </span>
              </div>
              <div class="input-group">
              <span ng-show="{{(recent.likes - recent.dislikes) == 0}}" class="button">Score: {{recent.likes - recent.dislikes}}</span>
              <span ng-show="{{(recent.likes - recent.dislikes) > 0}}" class="success button">Score: +{{recent.likes - recent.dislikes}}</span>
                <span ng-show="{{(recent.likes - recent.dislikes) < 0}}" class="alert button">Score: {{recent.likes - recent.dislikes}}</span>
              </div>
            </div>
          </div>
        </div>

<!--         <div class="tabs-panel" id="panel3" ng-show="{{ended.recents.length > 0}}">
          <h4>Success!</h4>
          <hr>
          <h5>Weight Goal: {{ ended.goal }}</h5>
          <h5>Pounds Lost: {{ ended.pounds_lost }} / {{ ended.initial_weigh_in}}</h5>
          <hr>
          <h4>Start/End Weigh-In</h4>
          <div class="media-object stack-for-small" ng-repeat="recent in ended.recents">
            <div class="media-object-section">
              <img class="thumbnail" height="300px" width ="200px" ng-src="{{ recent.photo }}">
            </div>
            <div class="media-object-section">
              <h5>Date: {{ recent.date }}</h5>
              <p>Weight: {{ recent.weight }}</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="medium-2 columns" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="content">
      <dl>
        <dt>{{ user.username }}</dt>
        <dd><a href="#">${{ user.balance }}</a> Balance</dd>
      </dl>
      <hr>
      <dl>
        <dt><a href="#">Friends</a></dt>
        <dd><img class="thumbnail" width="50" height = "50" ng-repeat="friend in user.friends" ng-src="{{ friend.pic }}"></dd>
        <hr>
        <dd><a href="#">Invite Friends</a></dd>
        <dd><textarea placeholder="Enter Email Address"></textarea></dd>
      </dl>
      <dl>
        <dt><a href="#">Community Fund:</a></dt>
        <dd><h3>${{ globalFund }}</h3></dd>
      </dl>
    </div>
  </div>
</div>
<script src="/static/lib/bower_components/foundation-6.2.0-complete/js/app.js"></script>
