<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="/Competitions">Competitions</a></li>
    <li><span class="show-for-sr">Current: </span>Name of Competition</li>
    </ul>
  </nav>
</div>
<div class="row" id="content">
  <div class="medium-10 columns">
    <div class="row">
      <div class="medium-6 columns">
      <img class="thumbnail" src="http://placehold.it/650x350">
      </div>
      <div class="medium-6 large-5 columns">
        <h3>Name of Competition</h3>
        <p>Description (5% in 4 weeks)</p>
        <p>Pot: </p>
        <p>Players: </p>
        <p>Starting Date:</p>
        <p>Ending Date:</p>
        <label>Bet Size
        <select>
          <option value="Low">Low ($)</option>
          <option value="Medium">Medium ($)</option>
          <option value="High">High ($) - Not Enough Funds</option>
        </select>
        </label>
        <a href="#" class="button large expanded">Join Pool</a>
      </div>
    </div>
    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Investors</a></li>
        <li class="tabs-title"><a href="#panel2">Progress</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <div class="row medium-up-3 large-up-5">
            <h4>Invite Your Friends to Invest</h4>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <hr>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Name <small>$22</small></h5>
              <a href="#" class="button hollow tiny expanded">Invite</a>
            </div>
          </div>
        </div>

        <div class="tabs-panel" id="panel2">
          <h4>Progress</h4>
          <hr>
          <h5>To Pool End</h5>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <span class="progress-meter" style="width: 25%">
              <p class="progress-meter-text">25%</p>
            </span>
          </div>
          <h5>To Weight Goal</h5>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <span class="progress-meter" style="width: 25%">
              <p class="progress-meter-text">25%</p>
            </span>
          </div>
          <h6>Weight Goal: </h6>
          <h6>Last Weigh-In: </h6>
          <h6>Last Weigh-In Date: </h6>
          <h6>Pounds Lost: </h6>
          <h6>Starting Weight: </h6>
          <label>Next Weigh-In Deadline: </label>
          <button class="button">Weigh-In Now</button>
          <hr>
          <h4>Recent Weigh-Ins</h4>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Date</h5>
              <p>Weight</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
            <h5>Date</h5>
            <p>Weight</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
            <h5>Date</h5>
            <p>Weight</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-2 columns" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="content">
      <dl>
        <dt>Jonathan Huang</dt>
        <dd><a href="#">$25.57</a> Balance</dd>
      </dl>
      <hr>
      <dl>
        <dt><a href="#">Friends</a></dt>
        <dd>Find Pictures</dd>
        <hr>
        <dd><a href="#">Invite Friends</a></dd>
        <dd><textarea placeholder="Enter Email Address"></textarea></dd>
      </dl>
    </div>
  </div>
</div>
<script src="/static/lib/bower_components/foundation-6.2.0-complete/js/app.js"></script>
